@tailwind base;
@tailwind components;
@tailwind utilities;

.reg-btn-gradient{
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(197,45,209,1) 100%);
}

.gradient-circle {
  background: radial-gradient(circle, rgb(183, 0, 165) 0%, rgb(183, 0, 165) 93%);
  border-radius: 50%;
  filter: blur(150px);
  opacity: 0.3;
  z-index: 1;
  width: 400px; 
  height: 400px;
}
@media (max-width: 767px) {
 
}

@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rover Explore";
  src: url("/fonts/rover-explore.regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
